<!doctype html>
{%  load  static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css'  %}">
    <title>
        {% block title %}
            Название страницы
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Начальная страница</a>
              <a class="nav-item nav-link" href="/clients/">Клиенты</a>
            </div>
          </div>
        </nav>
    </header>
    <div class="container-fluid">
        {% block content %}
            <p>Скоро тут появится текст...</p>
        {% endblock %}
    </div>
    <footer class="row fixed-bottom modal-footer">
        <p>Все права защищены &copy;</p>
    </footer>
    <script src="{%  static 'js/bootstrap.bundle.min.js'  %}"></script>
</body>
</html>