{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <h1>{{ content.title }}</h1>
  {% if content.result %}
    <ol>
      {% for order,products in content.result.items %}
        <li>
          Итоговая сумма заказа: {{ order.total_price }} руб.
          Дата заказа: {{ order.order_date }}
          {% if products %}
          <p>Продукты:</p>
          <ul>
            {% for product in products %}
            <li>
              Название: <a href="{% url 'get_product_id' product.id %}">{{ product.name }}</a>
              Цена: {{ product.price }} руб.
              Количество: {{ product.quantity }} шт.
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>У пользователя нет заказов</p>
  {% endif %}
{% endblock %}