{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <h1>{{ content.title }}</h1>
  {% if content.result %}
    <ol>
      {% for delta,products in content.result.items %}
        <li>
          за последние {{ delta.days }} дней:
          {% if products %}
          <p>Продукты:</p>
          <ol>
            {% for product in products %}
            <li>
              Название: <a href="{% url 'get_product_id' product.id %}">{{ product.name }}</a>
              Цена: {{ product.price }} руб.
              Количество: {{ product.quantity }} шт.
            </li>
            {% endfor %}
          </ol>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>У пользователь не заказывал продукты</p>
  {% endif %}
{% endblock %}