<!doctype html>
{%  load  static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css'  %}">
    <title>
        Сайт Чеснокова Михаила
    </title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Начальная страница</a>
              <a class="nav-item nav-link" href="/about/">Обо мне</a>
            </div>
          </div>
        </nav>
    </header>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolore dolorem fugit illo, iure, maiores natus, nostrum quo suscipit tenetur totam vitae voluptas! Aliquam, consectetur consequuntur debitis dolore enim impedit iste odit praesentium quam, sapiente, similique soluta velit. Adipisci asperiores aspernatur commodi delectus distinctio earum eius, ex id necessitatibus nisi omnis, pariatur quibusdam rem repellendus unde voluptate voluptates! Ad aperiam asperiores deleniti dolorem, eius est excepturi exercitationem expedita, illum numquam odio quis reprehenderit? Ab dicta eaque in ipsa laudantium, mollitia quod similique sit soluta velit. Dignissimos minima optio provident quam sint? A consequuntur cumque fugit inventore laudantium molestias odit ratione.</p>
    </div>
    <footer class="row fixed-bottom modal-footer">
        <p>Все права защищены &copy;</p>
    </footer>
    <script src="{%  static 'js/bootstrap.bundle.min.js'  %}"></script>
</body>
</html>